/* All styles for your header Components live here */
body {
  width: 43%;
}

header div {
  display: flex;
  flex-direction: row;
}

header div div {
  display: flex;
  flex-direction: column;
}

header div img {
  width: 10%;
  height: 50%;
}

header div div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

header div div div h1 {
  font-size: 1rem;
}

header div div div h2 {
  font-size: 0.75rem;
  color: grey;
  margin-left: 1%;
}

header div div div ul li {
  color: grey;
  font-size: 0.75rem;
  height: 0.75rem;
}
